{% extends 'base.html' %}
{% block title %}
  Market Page
{% endblock %}

{% block content %}
     <!--main body-->
    <main>
        <div class="search_bar">
            <input type="search" name="search" placeholder="Type to search..." id="search">
            <div class="search-icon">
                <i class="fas fa-search"></i>
              </div>
            <div class="cancel-icon">
                <i class="fas fa-times"></i>
              </div>
        </div>
    </main>


{% endblock %}